.contacts li a.twitter:hover {
  color: rgb(0, 217, 255);
}

.personal_link {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

.personal_link:hover {
  color: #830016;
}

.blood {
  cursor: default;
}

strong {
  font-weight: 600;
}

.fight {
  margin: auto;
  text-align: center;
}

a.fight {
  height: 45px;
  line-height: 45px;
  white-space: nowrap;
}

#btn-fight {
  margin: auto;
  background-color: #ac001d;
  text-align: center;
  width: 140px;
  height: 45px;
  letter-spacing: 2.5px;
  font-weight: bold;
  border: none;
  border-radius: 45px;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#btn-fight:hover {
  width: 230px;
}

.Modal {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0.7);
  pointer-events: none;
  transition: opacity 200ms ease-in;
}

.Modal:target {
  display: flex;
  pointer-events: auto;
}

.Modal_Body {
  width: 70%;
  height: 200px;
  position: relative;
  z-index: 2;
  display: block;
  margin: auto;
  padding: 15px;
  background: #fff;
}

.Modal_Body * {
  height: 100%;
  text-align: center;
}

.ModalFull {
  position: absolute;
  display: block;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.twelve.column h3 {
  height: 100%;
}

.Modal .close {
  top: 1em;
  left: inherit;
  right: 1em;
  display: inline-block;
  width: 2em;
  height: 2em;
}

.Modal .close::before,
.Modal .close::after {
  background: #616161;
}

.gif {
  display: none;
  height: 100px;
}

.show_gif:hover .gif {
  display: block;
}
